<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>              
        <key>frames</key>
        <dict>
            <key>bao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,93},{79,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,72}}</string>
                <key>sourceSize</key>
                <string>{79,72}</string>
            </dict>
            <key>bao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,94}}</string>
                <key>sourceSize</key>
                <string>{90,94}</string>
            </dict>
            <key>bao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{89,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,94}}</string>
                <key>sourceSize</key>
                <string>{89,94}</string>
            </dict>
            <key>bao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{79,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,89}}</string>
                <key>sourceSize</key>
                <string>{79,89}</string>
            </dict>
            <key>bao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,98},{79,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,90}}</string>
                <key>sourceSize</key>
                <string>{79,90}</string>
            </dict>
            <key>bao6.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,190},{70,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,64}}</string>
                <key>sourceSize</key>
                <string>{70,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baoza.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3ab4c2b58f80c251844406ef827b844:1/1$</string>
            <key>textureFileName</key>
            <string>baoza.png</string>
        </dict>
    </dict>
</plist>
