<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>plane_boss1.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,188},{250,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,161}}</string>
                <key>sourceSize</key>
                <string>{250,161}</string>
            </dict>
            <key>plane_boss2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,185}}</string>
                <key>sourceSize</key>
                <string>{250,185}</string>
            </dict>
            <key>plane_boss3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{250,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,123}}</string>
                <key>sourceSize</key>
                <string>{250,123}</string>
            </dict>
            <key>plane_boss4.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,351},{248,156}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,156}}</string>
                <key>sourceSize</key>
                <string>{250,156}</string>
            </dict>
            <key>plane_boss5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{250,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,149}}</string>
                <key>sourceSize</key>
                <string>{250,149}</string>
            </dict>
            <key>plane_boss6.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{250,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,184}}</string>
                <key>sourceSize</key>
                <string>{250,184}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Boss.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e569b9ba868c8fd1bfaf3816dd0edde$</string>
            <key>textureFileName</key>
            <string>Boss.png</string>
        </dict>
    </dict>
</plist>
