<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullets1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,50},{14,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,30}}</string>
                <key>sourceSize</key>
                <string>{14,30}</string>
            </dict>
            <key>bullets2.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,44},{10,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,31}}</string>
                <key>sourceSize</key>
                <string>{10,31}</string>
            </dict>
            <key>bullets3.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{47,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,46}}</string>
                <key>sourceSize</key>
                <string>{47,46}</string>
            </dict>
            <key>bullets4.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,50},{23,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,65}}</string>
                <key>sourceSize</key>
                <string>{23,65}</string>
            </dict>
            <key>bullets5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{19,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,73}}</string>
                <key>sourceSize</key>
                <string>{19,73}</string>
            </dict>
            <key>bullets6.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,2},{40,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,42}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>bullets7.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,44},{34,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,55}}</string>
                <key>sourceSize</key>
                <string>{34,55}</string>
            </dict>
            <key>bullets8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{25,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,101}}</string>
                <key>sourceSize</key>
                <string>{25,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Bullet.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78ee32fca776e5df16704fde657bfd2e$</string>
            <key>textureFileName</key>
            <string>Bullet.png</string>
        </dict>
    </dict>
</plist>
